.box-sizing {
    border-box;
}
.form-auth {
    width: 200px;
    height:200px;
    background-color:grey;
    padding:10px;
    text-align:center;
    margin:0 auto;
    position: fixed;
    top:80px;
    left:0;
    right:0
    margin: 0 auto;
    z-index:10;
}
.close-btn {
    float:right;
}
.form-field  {
    margin-bottom:15px;
}
.form-field input {
    height: 25px;
}
.form-auth button,.form-field input {
    width:80%
}
.overlay {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:grey;
}